
$fontColor: #292b2c;
$footerHeight: 50px;
$btnHeight: 30px;

.ng-modal-container {
    position: fixed;
    z-index: 1100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: 0;
    color: $fontColor;
    background: rgba(48, 48, 48, 0.8);
    text-align: center;
    transition: opacity .5s;
    .modal-locator { // 用于定位到中间
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        max-height: 90%;
        display: flex;
        .main-container { //  用于做背景
            background: #fff;
            padding: 10px 0;
            display: flex;
            border-radius: 4px;
            box-shadow: -6px 6px 10px #444;
            margin: 0px auto;
            .modal-inner {
                overflow: auto;
                width: 100%;
            }
        }
    }
}